<section class='container w-full h-full mt-8 relative'>
  <h2 class='sticky top-0 bg-gray-100 z-20 font-normal text-center'>Technical skills</h2>
  <hr class='w-5/6 lg:w-1/2 my-8 border-t-2 border-white border-solid mx-auto' />
  <!--  Image by https://dribbble.com/tranmautritam - Email: hello@tranmautritam.com-->
  <img class='absolute top-40 right-32 hidden lg:inline' width='45%' height='45%' src='./assets/showcase-illustration-tranmautritam.webp'
       alt='showcase illustration tranmautritam'>
  <ng-container *ngFor='let key of Object.keys(technicalSkills)'>
    <ul class='w-1/2 mx-auto capitalize font-medium pb-3'>{{key}}
      <li class='list-item list-disc list-inside text-sm font-light'
          *ngFor='let skill of technicalSkills[key]'>{{skill}}</li>
    </ul>
  </ng-container>
</section>
