<section class='container w-full h-full mt-8'>
  <h1 class='sticky top-0 bg-slate-100 z-20 font-bold text-center'>Whoami</h1>
  <hr class='border-indigo-400/90 w-5/6 lg:w-1/2 my-8 border-t-2 border-solid mx-auto'>
  <blockquote class='w-11/12 lg:w-8/12 font-light text-justify leading-relaxed mx-auto'>
    Information Technology Engineer with many years of experience in
    maintenance and deployment of hardware and software as well as
    software development. Dedicated developer with a passion for
    coding and problem solving. Currently focused on mastering JavaScript
    and TypeScript skills, both in the front-end and back-end. Strongly
    committed to writing clean, maintainable code and providing great user
    experience. Keen interest in the best UI/UX practices and broadening
    knowledge around this area.</blockquote>
</section>
<site-technical-skills></site-technical-skills>
<site-personal-studies></site-personal-studies>
<site-footer></site-footer>
