span {
  @apply text-slate-600;
  &:hover {
    @apply text-slate-700;
    animation-play-state: paused;
  }
  &:nth-child(n):after {
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    @apply bg-slate-700;
    transition: width 0.3s ease 0s, left 3s ease 0s;
    width: 0;
  }
  &:nth-child(n):hover:after {
    width: 100%;
    left: 0;
  }
}
