<section class='container h-full w-5/6 lg:w-2/3 my-16 text-center flex flex-col items-center justify-center'>
  <h1 class='sticky top-0 bg-gray-100 w-full text-2xl font-bold my-2 z-20'>Hello. I'm Piotr Kieltyka.</h1>
  <h2 class='font-light my-2'>I'm a dedicated developer with a passion for coding and problem solving.</h2>
  <a class='font-light text-blue-600 my-2' href='https://piotrkieltyka.typeform.com/to/l1iZVj' rel='nofollow noreferrer'
  >Why not get in touch?</a>
  <a href='https://github.com/Piotrkieltyka'
     class='w-40 h-10 my-4 grid justify-center items-center self-center bg-white hover:shadow-lg hover:bg-gray-700 hover:text-white transition-all shadow-inner rounded-lg'
  >
    <button class='text-sm md:text-base font-light'><i class='fab fa-github px-2'></i>GitHub</button>
  </a>
</section>
