<section class='container w-full h-full flex flex-col items-center justify-between mt-8'>
  <!-- Blog Logo by https://dribbble.com/tranmautritam - Email: hello@tranmautritam.com -->
  <img class='w-5/6 lg:w-2/3 xl:w-1/2' src='./assets/cesis-studio-illustration-tranmautritam.webp'
       alt='cesis studio illustration tranmautritam'>
  <ng-template [ngIf]='isLoggedIn$ | async'>
    <button
      class='text-xs cursor-pointer w-16 py-1 text-green-400 rounded border border-green-400 hover:bg-green-400 hover:text-white hover:shadow-md transition-all'
      (click)='openAddPostDialog()'>add
    </button>
  </ng-template>
  <ng-template [ngIf]='loadingError$ | async'>
    <hr [ngStyle]='{"border-color":"#e9eff5"}' class='w-5/6 lg:w-1/2 my-8 border-t-2 border-solid' data-aos='zoom-in' data-aos-duration='400'>
    <p class='font-light' data-aos='fade-in' data-aos-duration='400'>Something went wrong.</p>
  </ng-template>
  <hr [ngStyle]='{"border-color":"#e9eff5"}' class='w-5/6 lg:w-1/2 my-8 border-t-2 border-solid' data-aos='zoom-in' data-aos-duration='400'>
  <ng-container *ngFor='let blogPost of blogPosts$ | async; let i = index'>
    <site-blog-card class='w-11/12' [attr.data-aos]='i % 2 === 0 ? "fade-left" : "fade-right"'
                    data-aos-duration='400' data-aos-delay='200'
                    [id]='blogPost._id' [title]='blogPost.title'
                    [date]='blogPost.date' [link]='blogPost.link'
                    [content]='blogPost.content'
    ></site-blog-card>
    <hr class='w-5/6 lg:w-1/2 my-4 border-t-2 border-solid'
        [ngStyle]='i % 5 === 0 ? {"border-color": "#fd8921"} :
        i % 4 === 0 ? {"border-color": "#5f9cb8"} :
        i % 3 === 0 ? {"border-color": "#adcceb"} :
        i % 2 === 0 ? {"border-color": "#191d47"} :
        i % 1 === 0 ? {"border-color": "#3f4daa"} : {"border-color": "#e85a30"}'>
  </ng-container>
</section>
