<section class='container w-full h-full mt-8 relative'>
  <h2 class='sticky top-0 bg-gray-100 z-20 font-bold text-center'>Personal studies</h2>
  <hr class='w-5/6 lg:w-1/2 my-8 border-t-2 border-white border-solid mx-auto' />
  <!--  Image by https://dribbble.com/tranmautritam - Email: hello@tranmautritam.com-->
  <img class='absolute top-80 right-32 hidden lg:inline' width='35%' height='35%' src='../../../assets/presentation-ui_designer-illustration-by_tranmautritam.webp'
       alt='presentation illustration tranmautritam'>
  <ng-container *ngFor='let study of studies'>
    <div class='w-5/6 md:w-1/2 mx-auto font-light pb-6'>
      <ng-container *ngIf='study.courseUrl; else noCourseURL'>
        <a href='{{study.courseUrl}}' class='pl-4'>{{ study.title }} <i class="{{ study.button_icon }}"></i></a>
      </ng-container>
      <ng-template #noCourseURL>
        <p class='pl-4'>{{ study.title }} <i class="{{ study.button_icon }}"></i></p>
      </ng-template>
      <p class='text-sm pl-8'>{{ study.author }}</p>
    </div>
  </ng-container>
</section>
